<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/status.css">
    <link rel="icon" href="/static/logo.png" type="image/x-icon">
</head>
<body>

    <div class="create">
        <button onclick="window.location.href='/create/certificate'">Create Certificate</button>
    </div>

    {% for i in data %}
    {% if i.status == "generated" %}
        <div class="generated">
            <p>Certificate ID: {{i._id.title()}}</p>
            <p>Certificate Address: {{i.address.title()}}</p>
            <p>Student Name: {{i.student_name.title()}} | Student CGPA: {{i.student_cgp.title()}}</p>
            <p>Certificate Title: {{i.certificate_title.title()}} | Certificate Issuing Athourity: {{i.issuing_authority.title()}}</p>
            <p>Certificate Issue Date: {{i.issuing_date.title()}}</p>
            <button onclick="window.open('/view/certificate/{{i._id}}')">View Certificate</button>

        </div>
    {% else %}
        <div class="not_generated">
            <p>Certificate ID: {{i._id.upper()}}</p>
            <p>Certificate Status: {{i.status.upper()}}</p>
            <p>Certificate Address: {{i.address.upper()}}</p>
            <p>Student Name: {{i.student_name.upper()}} | Student CGPA: {{i.student_cgp.upper()}}</p>
            <p>Certificate Title: {{i.certificate_title.upper()}} | Certificate Issuing Athourity: {{i.issuing_authority.upper()}}</p>
            <p>Certificate Issue Date: {{i.issuing_date.upper()}}</p>

        </div>
    {% endif %}
    {% endfor %}
    
</body>
</html>